{% extends "app/layout.html" %}

{% block content %}

<div class="container">
    <h1>Видео по нашей тематике</h1>
    <div class=" video_page">
        <div>

            <video src="/media/Хорошие спортивные костюмы мужские.mp4" class="videos" controls="controls" width="800" height="600" poster="/media/japan-wear-brand-1-800x533.jpg"></video>
        </div>
    </div>
    <div>
        <video src="/media/МОДНЫЙ ЖЕНСКИЙ СПОРТИВНЫЙ КОСТЮМ.  СПОРТИВНАЯ ОДЕЖДА. Фитнес одежда..mp4" class="videos" controls="controls" width="800" height="600" poster="/media/60567516d4bf0239e22e8752af9ce8c8.jpg"></video>
    </div>
</div>



{% endblock %}