{% extends "app/layout.html" %}


{% block content %}

<h2>{{ title }}Наша история</h2>
<h3>{{ message }}Наша миссия – это расширить Ваш спортивный потенциал. Наша вера в спорт это то, что заставляет нас расти, и мы хотим, что бы вы росли вместе с нами. Мы постарались, чтобы наш магазин стал не только приятым и удобным местом для покупок, но и местом встречи всех любителей активного образа жизни. </p>
</h3>

<p>Уверены, что Вам у нас понравится.</p>
<p>Приходите, Вы останетесь довольны!</p>

{% endblock %}
