{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}Наш магазин</h2>
<h3>{{ message }}понедельник - пятница: с 9:00 до 20:00</h3>
 <table class="center"> 
<tr><th colspan="5">Наши рабочие дни, сентябрь 2020</th></tr> 
<tr> 
<td>Понедельник</td> 
<td>Вторник</td> 
<td>Среда</td> 
<td>Четверг</td> 
<td>Пятница</td> 
</tr> 
<tr> 
<td>1</td> 
<td>2</td> 
<td>3</td> 
<td>4</td> 
<td>5</td> 
</tr> 
<tr> 
<td>8</td> 
<td>9</td> 
<td>10</td> 
<td>11</td> 
<td>12</td> 
</tr> 
<tr> 
<td>15</td> 
<td>16</td> 
<td>17</td> 
<td>18</td> 
<td>19</td> 
</tr> 
<tr> 
<td>22</td> 
<td>23</td> 
<td>24</td> 
<td>25</td> 
<td>26</td> 
</tr> 
<tr> 
<td>29</td> 
<td>30</td> 
<td colspan="3"></td> 
</tr> 
</table>

<address>
    Молдова, Копчак<br />
   ул. Бориса Главана 42<br />
    <abbr title="Phone">P:</abbr>
    +37376774945
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:vitaliy30@inbox.ru">vitaliy30@inbox.ru</a><br />
    <strong>Контактное лицо:</strong> <a href="mailto:vitaliy0530@inbox.ru">vitaliy0530@inbox.ru</a>
</address>

{% endblock %}
